body {
  font-family: "Uncial Antiqua", cursive;
  color: #5e5e5e;
}

html {
  font-size: 62.5%;
}

.game-header {
  text-align: center;
  font-size: 1.8rem;
  color: #5e5e5e;
}

.fire-text {
  color: rgb(255, 94, 0);
}
.water-text {
  color: #12bafc;
}
.grass-text {
  color: rgb(42, 185, 37);
}

.main-area {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-width: 750px;
}
.elements-area {
  display: flex;
  border: 3px solid #5e5e5e;
  border-radius: 6px;
  justify-content: space-evenly;
}
.element-button {
  border: none;
  background: transparent;
}
.element-button:focus,
.reload:focus {
  outline: none;
}
.element-icon {
  margin: 40px 0;
  color: #5e5e5e;
  font-size: 9rem;

}
.element-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  transition: all .4s;
}
.fire-icon:hover {
  color: rgb(255, 94, 0) !important;
}
.water-icon:hover {
  color: #12bafc !important;
}
.grass-icon:hover {
  color: rgb(42, 185, 37) !important;
}
.disabled-button .element-icon {
  cursor: default;
  transform: none;
}

.game-output {
  display: flex;
  margin-top: 10px;
  border: 3px solid #5e5e5e;
  border-radius: 6px;
}
.computer-actions {
  text-align: center;
  border-right: 3px solid #5e5e5e;
}
.computer-title {
  font-size: 1.6rem;
  margin: 15px 20px 0px 20px;
}
.computer-icon {
  margin: 40px 40px 40px 40px;
  color: #5e5e5e;
  font-size: 7rem;
  justify-content: center;
}

.game-results {
  font-size: 1.6rem;
}
.round {
  margin: 15px 10px;
}
.lives {
  margin: 15px 10px;
}
.combat-text {
  margin: 15px 10px;
}

.game-over {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.game-over-text {
  text-align: center;
  font-size: 3rem;
}

.replay {
  font-size: 1.6rem;
  height: 5rem;
  border: 3px solid #5e5e5e;
  border-radius: 6px;
  visibility: hidden;
  background-color: transparent;
  cursor: pointer;
}

.replay:hover{
  background-color: #5e5e5e;
  color: #fff;
}

/* for JS */
.opacity {
  opacity: 0.5;
}
